{% load static %}

<link
rel="stylesheet"
type="text/css"
href="{% static 'home/css/bootstrap.css' %}"
/>

<!DOCTYPE html>
<html>
{% include 'header.html' %}

<body>
    <div class="container px-4 text-center">
        <h1> Bem Vindo ao Agro Mais</h1>
        <h3>A plataforma digital que conecta todos os agentes do agronegócio. Aqui, você encontra conhecimento, ferramentas e oportunidades para impulsionar o sucesso no campo. Junte-se a nós e faça parte da comunidade que transforma a agricultura brasileira. </h3>
        <button type="button" class="btn btn-primary btn-lg">Explorar</button>
        <button type="button" class="btn btn-secondary btn-lg">Cadastrar</button>
        
    </div>
    <div class="container-sm">100% wide until small breakpoint</div>
<div class="container-md">100% wide until medium breakpoint</div>
<div class="container-lg">100% wide until large breakpoint</div>
<div class="container-xl">100% wide until extra large breakpoint</div>
<div class="container-xxl">100% wide until extra extra large breakpoint</div>
</body>

</html>